<div class="header">
		<div class="container">
			<div class="logo">
				<a href="/Home/Index"><span>open</span>Ashop</a>
			</div>
			<div class="header-right">
			<a class="account" href="/Home/Login">My Account</a>
		    </div>
		</div>
</div>
	<div class="main-banner banner text-center">
	  <div class="container">    
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with us</h1>
			<p>Just open a shop, wait for customers to visit , deliver your good and earn.</p>
			<a href="/Home/Register">Get Register</a>
	  </div>
	</div>